.slider-container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-bottom: 50px;
  }

  
.slick-prev:before,
.slick-next:before {
    color: #000000;
}

.event-card{
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 20px;
  text-align: left;
  max-width: 250px;
  display: inline-block; 
}