@import url(./Global.css);

.usuario-container {
    background-color: var(--fundo-principal);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.usuario-section {
    background-color: var(--cor-quarta);
    padding: 8rem;
    justify-content: baseline;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.usuario-picture {
    display: grid;
    position: relative; /* Permite posicionar o ícone sobre a imagem */
    justify-content: center;
}

.usuario-picture-img {
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    object-fit: cover; /* Faz a imagem preencher a área sem distorção */
    border: 2px solid #fff; 
}

.usuario-icon {
    width: 50px; /* Tamanho do ícone de edição */
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgb(177, 177, 177);
    border: 1px solid #fff;
    border-radius: 50%; /* Ícone também circular */
    padding: 5px; /* Espaçamento interno para o ícone */
    cursor: pointer;
}

.profile-picture-input {
    display: none; 
}

.usuario-edit {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

.usuario-aritcle{
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}