@import url(./Global.css);

.dados-iniciais-container {
    text-align: center;
    font-family: var(--font-family);
}

.dados-iniciais-formulario {
    padding: 20px 0px;
    text-align: center;
}
.dados-iniciais-input-container {
    margin: auto;
    text-align: center;
    display: grid;
}
.dados-iniciais-input-container label {
    margin-left: 0px;
    text-align: left;
}
.dados-iniciais-input-container input{
    background-color: var(--input-background);
    width: 300px;
    height: 40px;
    border-radius: 12px;
    box-shadow: var(--input-shadow);
    border: var(--input-border);
    margin: 5px auto 10px auto;
    text-align: left;
    padding-left: 20px;
}

.dados-iniciais-botao-container button {
    background-color: #1F0171;
    border-radius: 16px;
    width: 150px;
    height: 40px;
    color: var(--fonte-cor-branco);
    box-shadow: var(--botao-shadow);
    margin-bottom: 10px;
}

.dados-iniciais-picture-container {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 12px;
}
.dados-iniciais-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}

.profile-picture-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-picture-input {
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
}
.dados-iniciais-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dados-iniciais-input-container {
    margin-bottom: 10px;
    text-align: left;
}

.dados-iniciais-botao-container {
    margin-top: 20px;
}
