.lista-usuario {
  padding: 20px;
}

table {
  width: 100%; 
  border-collapse: collapse; /*remove espaço das bordas*/
}

th, td {
  padding: 10px; 
  text-align: left; 
  border-bottom: 1px solid #ccc; 
}

th {
  background-color: #fff; /* Cor de fundo para o cabeçalho */
}

tr:hover {
  background-color: #f5f5f5; 
}

.icon{
  width: 30px;
}

/* Estilo para o overlay do Modal */
.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro com opacidade */
}

/* Estilo para o conteúdo do Modal */
.ReactModal__Content {
  width: 400px;             /* Largura do modal */
  height: auto;             /* Altura automática para se ajustar ao conteúdo */
  margin: auto;             /* Centraliza o modal na tela */
  padding: 20px;            /* Espaçamento interno */
  border-radius: 10px;      /* Borda arredondada */
  background-color: #fff;   /* Cor de fundo do conteúdo */
}

/* Estilos para a textarea */
.modal-textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos para os botões do Modal */
.modal-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.modal-buttons button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.modal-buttons button:first-child {
  background-color: #007BFF;
  color: white;
}

.modal-buttons button:first-child:hover {
  background-color: #0056b3;
}

.modal-buttons button:last-child {
  background-color: #f44336;
  color: white;
}

.modal-buttons button:last-child:hover {
  background-color: #d32f2f;
}

