@import url(./Global.css);

.cadastrar-container {
    background-image: url("../assets/images/background-social.svg"); /* Insira o caminho da imagem de fundo */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    min-height: 100vh; /* Garante que o fundo cubra 100% da altura da tela */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.cadastrar-section {
    border: solid 2px var(--cor-terciaria);
    border-radius: 32px;
    padding: 20px;
    margin-bottom: 20px;
    display: block;
    margin: 20px 200px;
    background-color: var(--cor-principal)
}
.cadastrar-section h3 {
    font-size: 18px;
    text-align: left;
}
.cadastrar-buttons {
    justify-content: space-between;
}
.cadastrar-buttons button {
    background-color: #1F0171;
    border-radius: 16px;
    width: 150px;
    height: 40px;
    color: var(--fonte-cor-branco);
    margin: 0 10px;
}

.espera-confirmacao {
    background-color: #f0f0f0;
    border-radius: 12px;
    padding: 40px;
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
}

.espera-confirmacao h2 {
    color: #1F0171;
    font-size: 24px;
}

.espera-confirmacao p {
    font-size: 16px;
    color: #333;
}



.verificacao-container {
    text-align: center;
    padding: 50px;
    background-color: var(--fundo-principal);
    border: solid 2px var(--cor-principal);
    border-radius: 32px;
    margin: 0 auto;
    width: 50%;
    box-shadow: var(--botao-shadow);
}

.verificacao-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.verificacao-container p {
    font-size: 18px;
    margin: 10px 0;
}
