@import url(./Global.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.bold {
    font-weight: bold;
}

.card {
    margin: 10px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    width: 25em;
    height: 150px;
    border-radius: 15px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3), 0 0 2px rgba(0, 0, 0, 0.20);
    transition: height 0.2s ease-out;
}

.card-capa {
    background: url("/src/assets/images/Limpezadapraia.png") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
}

.card-title {
    display: inline-block;
    background-color: #1f01718f;
    color: white;
    padding: .2em 2.5em .2em .9em;
    border-radius: 15px 0 15px 0;
    font-weight: 600;
    font-family: "Inter", sans-serif;
}

.card-description {
    display: none;
    margin: 1em .9em 1em .9em;
    text-align: justify;
    font-family: "Inter", sans-serif;
}

.card-text-first, .card-text-second {
    margin: .5em .90em;
    display: flex;
    justify-content: space-between;
}

.card-text-first > strong {
    color: #1F0171;
    font-family: "Inter", sans-serif;
    font-style: italic;
    font-weight: 700;
}

.date-container > span {
    font-style: normal;
    font-size: small;
}

.date-container > svg{
    margin-right: .325em;
}

.members-container {
    display: flex;
    align-items: center;
}

.members-container > svg {
    width: 1.3em;
    margin-right: .2em;
}

.card-text-second > span, strong {
    color: #1F0171;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.card-text-second {
    margin-top: 1.7em;
    margin-bottom: 1em;
}

.card-details {
    display: none;
    background-color: #ff5c00;
    border: none;
    border-radius: 0 0 15px 15px;
    height: 4em;
    cursor: pointer;
}

.card-details > p {
    font-family: "Inter", sans-serif;
    color: white;
    font-weight: 700;
}

.card-details > svg {
    width: 2.4em;
}

.card:hover {

    height: 28em;

    .card-description {
        display: block;
    }

    .card-details {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}