@import url(./Global.css);

.dados-container {
    color: #f0f0f0;
    background-image: url("../assets/wallpaper/orange-wallpaper.svg");
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 120vh;
    text-align: center;
    font-family: var(--font-family);    
    border-radius: 12px;
    
}
.dados-pessoal-container {
    background-color: var(--fundo-principal);
    margin: 20px auto;
    display: block;
    text-align: left;
    width: 80%;
    justify-content: center;
    backdrop-filter: blur(5px);
}
.dados-endereco-container {
    background-color: var(--fundo-principal);
    margin: 20px auto;
    display: block;
    text-align: left;
    width: 80%;
    justify-content: center;
    padding-left: 50px;    
}
.dados-pessoal-container h4 {
    margin: 40px auto;
}
.dados-container label {
    padding-right: 10px;
}
.dados-container input {
    margin-bottom: 15px;
    border: var(--input-border);
    background-color: var(--input-background);
    box-shadow: var(--input-shadow);
    border-radius: 12px;
    height: 30px;
    text-align: center;
    margin-right: 10px;
}
.dados-container select {
    height: 30px;
    background-color: var(--input-background);
    border: var(--input-border);
    box-shadow: var(--input-shadow);
    border-radius: 16px;
    text-align: center;
}
.dados-container button {
    width: 160px;
    height: 40px;
    background-color: var(--botao-tela-branca);
    border-radius: 16px;
    /* box-shadow: var(--botao-shadow); */
    color: var(--fonte-cor-branco);
}
.input-grande {
    width: 320px;
}
.input-medio {
    width: 240px;
}
.input-medio-grande {
    width: 280px;
}
.input-pequeno{
    width: 120px;
}
.dados-container {
    background-color: var(--fundo-principal);
    text-align: center;
    padding: 50px;
}

.dados-pessoal-container {
    border: solid 2px #f0f0f0;
    border-radius: 32px;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    text-align: left;
    background-color: var(--fundo-formulario);
    /* box-shadow: var(--botao-shadow); */
}


.erro-mensagem {
    color: red;
    font-weight: bold;
}

.sucesso-mensagem {
    color: green;
    font-weight: bold;
}

