@import url(./Global.css);

/* Principais, que arruma tudo */
.pega-tudo{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 40px 40px 20px 40px;
    margin-top: 60px;
}

.parte-1{
    display: flex;
    flex-direction: column;
    margin: 30px 40px 40px 40px;
}

.parte-2{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 50px 40px 40px 40px;
}



/* parte-1 estilos */

.titulo-evento h1{
    font-size: 40px;
    color: #1F0171;
    font-family: 'Plus Jakarta Sans';
}

.titulo-evento p{
    color: #1F0171;
    font-family: 'Plus Jakarta Sans';
    font-size: 20px;
}

.tags-container {
    display: flex;
    align-items: center;
    justify-content: first baseline;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 8px;
}

.tag-item {
    background-color: #278cff; /* cor do bloco */
    color: white;
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
}



/* Botões */
.buttons-detalhes-evento{
    text-align: center;
}

.participar{
    background-color: #1F0171;   
}
.compartilhar{
    background-color: #ff711f;
}

.cancelar-participar{
    background-color: #ff6363;
}

.participar , .compartilhar ,.cancelar-participar{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    color: white;
    border-radius: 10px;
    cursor: pointer; 
    font: 'sans-serif';
    font-size: 1rem;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Sombra */
    transition: box-shadow 0.3s ease; /* Transição suave */
}

.participar:hover , .cancelar-participar:hover, .compartilhar:hover{
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4); 
}

.background-descricao{
    text-align: justify;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow:  0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 20px;
    padding-bottom: 40px;
}

.backgound-especificacoes{
    width: 100%;
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow:  0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: justify;

}

.descricao-evento{
    color: #1F0171;
    font: 'sans-serif';
    text-align: justify;
    padding: 20px;
    margin-right: 1rem;
    overflow-wrap: break-word;
    word-break: break-word;
}

/* Parte 2 Estilos */

.imagem-evento{
    align-items: center;
}

.praia-img{
    width: 100%;
    max-width: 420px;
    height: 250px;
    margin-left: 30px;
    border-radius: 25px;
    margin-bottom: 10px;
    
}

.barra-participantes{
    margin-left: 30px;
    display: inline-flex;
    text-align: justify;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.progress-container {
    width: 100%;
  }
  
  .progress-bar {
    width: 100%;
    background-color: #BFDBFE;  /* bg-blue-200 */
    border-radius: 9999px;
    height: 10px;
  }
  
  .progress-fill {
    height: 100%;
    border-radius: 9999px;
    transition: width 0.3s ease-in-out;
  }
  
  .progress-fill-normal {
    background-color: #F97316;  /* bg-orange-500 */
  }
  
  .progress-fill-over {
    background-color: #EF4444;  /* bg-red-500 */
  }
  
  .progress-text {
    font-size: 0.875rem;
    margin-top: 0.25rem;
  }
  
  

/*  estilos data */
.data-evento{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.data-evento p{
    margin-top: 5px;
    color: #1F0171;
    font-size: 20px;
}

.calendario-icon{
    width: 40px;
    margin-right: 10px;

}

/* estilos horário */
.horario-evento{
    display: flex;
    margin-left: 30px;
}

.horario-evento p{
    color: #1F0171;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 20px;
}

.relogio-icon{
    width: 40px;
}

/*  estilos local */
.local-eventos{
    display: flex;
    margin-left: 30px;
}

.local-eventos p{
    color: #1F0171;
    margin-left: 15px;
    margin-top: 5px;
    font-size: 20px;
}

.local-icon{
    width: 30px;
    margin-left: 5px;
}

.informacoes-ong{
    text-align: justify;
    height: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    /* width: 70%; */
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 20px;
    box-shadow:  0px 4px 6px rgba(0, 0, 0, 0.2);
}

.preferencia-descricao{
    padding-bottom: 20px;
    margin: 10px;
    color: #1F0171;
    overflow-wrap: break-word;
    word-break: break-word;
}

.funcao-descricao{
    color: #1F0171;
    margin: 10px 10px 5px 10px;
    margin-top: 7rem;
}

.perfil-ong-container{
    margin: 30px;
}

.logo-and-name-ong{
    display: inline-flex;
    align-items: center;
    margin-top: 10px;

}

.logo-img-ong{
    border-radius: 50%;
    height: 100%;
    max-height: 70px;
    margin-right: 20px;
}

.link-ong {
    color: #1F0171;
    font-weight: 400;
}

.link-ong-name{
    font-size: 24px;
    color: #1F0171;
}

/* Barra de comentários */
.comment-section {
    max-width: 90%;
    margin: 20px;
    margin-left: 80px;
    padding: 15px;
    background-color: #1F0171;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment-input {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}

.comment-textarea {
    flex-grow: 1;
    min-height: 80px;
    padding: 5px;
    border: 1px solid #4a90e2;
    border-radius: 10px;
    resize: none;
    background-color: #ffffff;
}

.comment-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 20px;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
    text-transform: uppercase;
}

.button-publicar {
    background-color: #ff9800;
    color: white;
}

.button-publicar:hover {
    background-color: #f57c00;
}

.button-visualizar {
    background-color: #4a90e2;
    color: white;
}

.button-visualizar:hover {
    background-color: #3a78c2;
}

.comment-list {
    margin-top: 20px;
}

.comment-item {
    background-color: #1F0171;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    color: white;
}

.comment-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.comment-info {
    margin-left: 15px;
}

.comment-info h3 {
    margin: 0;
    font-size: 16px;
    color: white;
}

.comment-date {
    font-size: 12px;
    color: #e6f2ff;
}

.comment-content p {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px;
    margin: 0;
    color: rgb(0, 0, 0);
    overflow-wrap: break-word;
    word-break: break-word;
}

.no-comments {
    text-align: center;
    color: #ffffff;
    font-style: italic;
}

/* Aqui vai o mapa */
.mapa-lugar{
    background-color: white;
    /* width: 90%; */
    padding: 20px;
    margin: 20px 10px 20px 75px;
    border-radius: 10px; 
}


.endereco-mapa h2{
    margin-left: 80px;
    font-size: 20px;
    color: #1F0171;
    padding: 1px 5px 10px 0px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.modal-buttons button {
    margin: 10px;
    padding: 10px;
    background-color: white;
    border: #1F0171 4px solid;
    border-radius: 10px;
}

