.eventos-vitrine {
    padding: 2rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.eventos-vitrine-title {
    font-size: 2.5rem;
    color: #1f0171;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bold;
}

.eventos-slider {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 50px;
}

.eventos-slider-title {
    font-size: 1.8rem;
    color: #1f0171;
    margin-bottom: 1.5rem;
    text-align: center;
}

.slick-slide > div {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.eventos-slider-item {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.custom-arrow {
    background-color: #1f0171;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2;
    transition: background-color 0.3s ease;
}

.custom-arrow.prev {
    left: -20px;
}

.custom-arrow.next {
    right: -20px;
}

.custom-arrow:before {
    color: white;
}

.slick-dots {
    bottom: -30px;
    padding-top: 10px;
    height: 20px;
}

/* Styles for the Card component */
.event-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    text-align: left;
    max-width: 300px;
    overflow: hidden;
}

@media (max-width: 768px) {
    .eventos-vitrine {
        padding: 1rem;
    }

    .eventos-vitrine-title {
        font-size: 2rem;
    }

    .eventos-slider-title {
        font-size: 1.5rem;
    }

    .custom-arrow {
        width: 30px;
        height: 30px;
    }

    .custom-arrow.prev {
        left: -15px;
    }

    .custom-arrow.next {
        right: -15px;
    }

    .eventos-slider {
        width: 95%;
    }
}



