@import url(./Global.css);

.footer-container {
    background-color: var(--cor-principal);
    color: var(--fonte-cor-branco);
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    text-align: center;
    font-family: var(--font-family);
    width: 100%;
}  
.footer-row {
    display: flex;
    gap: 50px;
    flex-direction: column;
}
.footer-logo {
    width: 150px;
    height: 150px;
    margin-right: 200px;
    align-items: center;
}
.footer-links {
    margin-right: 100px;
}
.footer-social-icons {
    display: flex;
    gap: 10px;
    font-size: 22px;
}
.footer-social-icons div {
    cursor: pointer;
    transition: color 0.3s ease-in;
}  
.footer-social-icons div:hover {
    color: var(--cor-secundaria); /* hover:text-Lime-Green */
}  
.footer-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}  
.footer-links a {
    color: var(--fonte-cor-branco);
    transition: color 0.3s ease-in;
    text-decoration: none;
}  
.footer-links a:hover {
    color: var(--cor-secundaria); /* hover:text-Lime-Green */
}  
.footer-rights {
    color: var(--fonte-cor-branco); /* text-Grayish-Blue */
    font-size: 14px;
    margin-top: 10px;
}
  
  /* Media Queries */
@media (min-width: 768px) {
    .footer-container {
      flex-direction: row;
    }
  
    .footer-row {
      flex-direction: row;
      gap: 40px;
    }
  
    .footer-links {
      align-items: center;
    }
}