@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    /* Cores das Páginas */
    --cor-principal: #1F0171;
    --cor-secundaria: #FF5C00;
    --cor-terciaria: #280F58;
    --cor-quarta: #4B7CC6;
    --cor-fundo-gradiente: linear-gradient(to right, var(--cor-terciaria), var(--cor-quarta));
    --fundo-principal: #FBFBFE;

    /* Input */
    --input-background: #E5E5E5;
    --input-shadow: 0px 5px 5px 0px #c5c5c5;
    --input-border: none;

    /* Sidebar */
    --sidebar: #1E3A8A;

    /* Sombra */
    --sombra: #C5C5C5;

    /* Cores das Fontes */
    --fonte-cor-branco: #FBFBFE;
   --fonte-cor-preto: #000;
    --fonte-cor-azul: #1F0171;

    /* Positivo */
    --positivo: #0F0;
    --negativo: #F00;

    /* Cores do Botão */
    --botao-tela-branca: #1F0171;
    --botao-tela-escura: #FCFCFE;
    --botao-hover: #FF5C00;
    --botao-shadow: 0px 2px 2px 0px #2c2c2c;

    /* Fontes */
    --font-family: "Poppins", sans-serif;
}

/* Estilo para a camada de overlay */    