@import url(./Global.css);

.login-body-container {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--fundo-principal);
    color: var(--fonte-cor-preto);
    font-family: "Poppins", sans-serif;
}
.login-header-container {
    height: auto;
    margin: 20px 0;
}
.login-botao-fechar {
    width: 20px;
    height: 20px;
    box-shadow: 0 2px 2px 0 var(--sombra); 
}
.login-header-container img {
    width: 33%;
    height: 33%;
}
.login-main-container {
    margin: 0px 100px;
    border-radius: 12px;
}
.login-main-form {
    margin: 50px 0px;
    justify-content: baseline;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-main-form input {
    background-color: var(--fundo-input);
    border: none ;
    border-radius: 12px;
    padding-left: 20px;
    width: 300px;
    height: 32px;
    margin-bottom: 20px;
    font-size: 16px;
    box-shadow: 0px 5px 5px 0px var(--sombra);
}
.login-main-form button {
    background-color: var(--cor-principal);
    color: var(--fonte-cor-branco);
    border-radius: 16px;
    border: none;
    width: 300px;
    height: 40px;
    font-size: 16px;
    margin-bottom: 10px;
}
.login-main-form p {
    font-size: 12px;
}
.others-login {
    margin: 15px 0;
}
.login-other{
    width: 400px;
    height: 30px;
    margin: 15px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: var(--fundo-botao);
    border-radius: 10px;
    box-shadow: 0px 5px 5px 0px var(--sombra);
}
 
.login-other a{
    justify-content: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--fonte-cor-preto);
    font-size: 32px;
}
.icon-log{
    display: flex;
    padding: 10px;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
}
.login-paragraph {
    margin-top: 15px;
    font-size: 12px;
}
.login-paragraph a {
    cursor: pointer;
}