@import url(./Global.css);

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 12px;
    background-color: var(--cor-principal); /* Cor de fundo equivalente a bg-blue-900 */
    color: var(--fonte-cor-branco);
    font-family: "Poppins", sans-serif;
}

.navbar-menu-container a{
    display: inline-flex;
    gap: 40px;
    flex-direction: row;
    padding-right: 20px;
    text-decoration: none;
    transition: color 0.3s ease-in;
    color: var(--fonte-cor-branco);
    cursor: pointer;
    align-items: center;
}
 
.navbar-menu-container li:hover {
    color: var(--cor-secundaria); /* Cor de hover equivalente a hover:text-orange-500 */
}

.navbar-input-pesquisa input{
    text-align: center;
    width: 240px;
    height: 35px;
    border-radius: 25px;
}
  
.navbar-container button {
    display: block;
    width: 200px;
    height: 30px;
    border-radius: 16px;
    font-size: 16px;
    background-color: var(--cor-secundaria);
    border: none;
    color: var(--fonte-cor-branco);
    cursor: pointer;
}

.navbar-container button:hover {
    background-color: var(--fundo-principal);
    color: var(--cor-principal);
}
 
.navbar-menu-button {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 28px;
}

.navbar-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: var(--cor-terciaria); /* Azul escuro */
  color: var(--fonte-cor-branco);
  padding: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  font-family: var(--font-family);
}

.navbar-sidebar ul {
  list-style: none;
  padding: 0;
}

.navbar-sidebar li {
  margin: 1rem 0;
}

.navbar-sidebar a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}
  /* Media Queries */
@media (max-width: 768px) {
    .navbar-menu-container {
      display: none;
      justify-content: space-between;
    }
    .navbar-input-pesquisa{
      display: none;
    }
    .navbar-container button {
      width: 150px;
    }
    .navbar-menu-button {
      display: block;
    }
  }

@media (max-width: 500px) {
    .navbar-input-pesquisa{
      display: none;
    }
}