@import url(./Global.css);

.recuperacao-container {
    text-align: center;
    font-family: var(--font-family);
    width: 100%;
    background-color: var(--fundo-principal);
    display: block;
}
.recuperacao-main h3 {
    padding: 50px 0px 20px 50px;
}
.recuperacao-main p {
    padding: 20px 0px 20px 50px;
}
.recuperacao-form {
    align-items: center;
    padding: 50px 0px 100px 50px;
    display: block;
}
.recuperacao-form label {
    font-size: 16px;
    font-weight: 500;
    padding-right: 10px;
}
.recuperacao-form input {
    width: 250px;
    height: 30px;
    border-radius: 12px;
    background-color: var(--input-background);
    box-shadow: var(--input-shadow);
    border: var(--input-border);
    padding-left: 20px;
    margin-right: 10px;
}
.recuperacao-form button {
    width: 150px;
    height: 30px;
    border-radius: 12px;
    background-color: var(--botao-tela-branca);
    color: var(--fonte-cor-branco);
    cursor: pointer;
}