@import url(./Global.css);

.usuario-container {
    background-color: var(--fundo-principal);
    width: 100%;
    display: block;
}
.usuario-section {
    background-color: var(--cor-quarta);
    padding: 20px;
    justify-content: baseline;
    display: flex;
    align-items: center;
}
.usuario-picture {
    display: grid;
}
.usuario-picture-img {
    width: 150px;
    height: 150px;
    padding-bottom: 20px;
}
.usuario-icon {
    width: 15px;
    height: 15px;
}